.nav-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #007bff; 
  padding: 10px 20px; 
}

.nav-item {
  color: #fff; 
  text-decoration: none; /* Remove underline */
  font-size: 18px; 
  margin-right: 20px; 
}

.nav-item:last-child {
  margin-right: 0; 
}

.users-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.average-ratings {
  margin-top: 20px;
}

.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.print-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.user-card {
  background-color: #f0f8ff; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.user-details h3,
.user-details h2.user-name,
.scroll-box h2 {
  font-size: 16px;
  font-weight: bold;
}

.user-details p {
  font-size: 14px;
}

.scroll-box {
  max-height: 70px;
  margin-bottom: 10px;
}

.update-link {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.delete-button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c82333;
}
.button {
  background-color: #007bff;
}
