.user-ticket {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

.ticket-info {
  margin-bottom: 20px;
}

.answer-box {
  margin-top: 20px;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.answer {
  white-space: pre-wrap; /* Preserve line breaks */

}

.buttons {
  margin-top: 20px;
}
